.list-quiz-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  .list-quiz_card {
    .card-img-top {
      width: 100%;
      height: 286px;
      object-fit: cover;
    }

    .card-body {
      border-top: 1px solid #ddd;
      padding: 8px 12px;
    }
    .card-text {
      margin-top: 8px;
      height: 78px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .card_btn {
      margin-bottom: 4px;
    }
  }
}

@media (max-width: 739px) {
}
