.sidebar-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .sidebar-btn {
    transition: width 0.3s;
    width: 150px;
    padding: 1px 15px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.05);
    color: #adadad;
    text-decoration: none;
    margin: 0 auto;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
    span {
      margin-left: 5px;
      font-size: 13px;
    }
    &:hover {
      color: #dee2ec;
    }
  }
}

.pro-sidebar-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 4px;

  .sidebar-btn_collapse {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    background: rgba(255, 255, 255, 0.05);
  }
}

body {
  .pro-item-content {
    color: #fff;
    &:hover {
      opacity: 0.6;
    }
  }
}
