.navbar-brand {
  .navbar-brand_logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.navbar-nav {
  .nav-link {
    &.active {
      color: #00bfff !important;
    }
  }
  .header-btn {
    margin-right: 16px;
    min-width: 90px;
  }
}

.languages {
  display: flex;
  position: relative;
  .languages-vi {
    &::after {
      content: "";
      display: block;
      width: 2px;
      height: 20px;
      background-color: #ccc;
      right: 48%;
      top: 28%;
      position: absolute;
    }
  }
  .languages-active {
    color: #fc4f00 !important;
  }
}

@media (max-width: 1023px) {
  body {
    .container {
      position: relative;
      .navbar-brand {
        display: none;
      }
      .navbar-collapse {
        &.show {
          position: absolute;
          top: 115%;
          width: 200px;
          background: #ffffff;
          box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
          border-radius: 12px;
          border: 1px solid #ddd;
          padding: 0 14px;
        }
        .header-btn {
          margin-bottom: 8px;
          margin-right: 0;
        }
      }
    }
    .languages {
      justify-content: space-evenly;
      .languages-vi {
        &::after {
          content: "";

          right: 48%;
          top: 28%;
        }
      }
    }
  }
  .dropdown-menu {
    position: absolute !important;
    left: 110% !important;
    top: -11% !important;
  }
}
